<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.myshiro.dao.RoleDao">

    <sql id="Base_Column_List">id,name,description,status,create_time,update_time,deleted</sql>

    <select id="queryRoleById" resultMap="BaseResultMap" parameterType="java.lang.String">
        select <include refid="Base_Column_List"></include>
        from sys_role
        where id = #{id}
    </select>

    <select id="selectAll" resultMap="BaseResultMap" parameterType="com.demo.myshiro.vo.req.RolePageReqVO">
        select <include refid="Base_Column_List"></include>
        from sys_role
        where deleted = 1
    </select>

    <select id="queryPermissionIdByRoleId" resultType="java.lang.String" parameterType="java.lang.String">
        select srp.permission_id
        from sys_role sr right join sys_role_permission srp on sr.id = srp.role_id
        where sr.id = #{id} and sr.deleted = 1
    </select>

    <select id="queryRolesByPermissionId" resultMap="BaseResultMap" parameterType="java.lang.String">
        select sr.*
        from sys_role sr left join sys_role_permission srp on sr.id = srp.role_id
        where srp.permission_id = #{id}
    </select>

    <update id="updateRoleById">
        update sys_role set name = #{roleName},description = #{description},update_time = #{updateTime}
        where id = #{roleId}
    </update>

    <delete id="deletePermissionByRoleId" parameterType="java.lang.String">
        delete from sys_role_permission where role_id = #{id}
    </delete>

    <insert id="addRolePermission">
        insert into sys_role_permission values (#{id},#{roleId},#{permissionId},#{updateTime})
    </insert>

    <select id="queryUserIdByRoleId" parameterType="java.lang.String" resultType="java.lang.String">
        select user_id from sys_user_role where role_id = #{roleId}
    </select>

    <resultMap id="BaseResultMap" type="com.demo.myshiro.entity.Role">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

</mapper>