<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<ul>
    <shiro:hasPermission name="sys:user:delete">
        <li><a href="#">删除订单</a></li>
    </shiro:hasPermission>
    <shiro:hasPermission name="order:find:*">
        <li><a href="#">查看订单</a></li>
    </shiro:hasPermission>
    <shiro:hasPermission name="order:update:*">
        <li><a href="#">修改订单</a></li>
    </shiro:hasPermission>
    <shiro:hasPermission name="order:add:*">
        <li><a href="#">增加订单</a></li>
    </shiro:hasPermission>
    <shiro:hasPermission name="user:*:*">
        <li><a href="#">商品管理</a></li>
    </shiro:hasPermission>

    <shiro:hasRole name="adwmin">
        <li><a href="#">订单管理</a></li>
        <li><a href="#">物流管理</a></li>
    </shiro:hasRole>
</ul>
</body>
</html>